In [4]:
## Defining an empty set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [5]:
set_var={1,2,3,4,2,3}

In [6]:
set_var

{1, 2, 3, 4}

In [8]:
## Indexing
set_var[0]

TypeError: 'set' object is not subscriptable

In [9]:
set_var.add("Hulk")
print(set_var)

{1, 2, 3, 4, 'Hulk'}

In [23]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [24]:
set2.intersection_update(set1)

In [25]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [21]:
## Difference update
set2.difference_update(set1)

In [22]:
print(set2)

{'Hulk2'}

## Dictionaries

In [26]:
dic={}
type(dic)

dict

In [28]:
my_dict={"Car1":"Audi", "Car2":"BMW", "Car3":"Marcidies Benz"}

In [29]:
type(my_dict)

dict

In [31]:
my_dict["Car3"]

'Marcidies Benz'

In [32]:
# We can even loop through the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [34]:
# We can even loop through the dictionaries values.

for x in my_dict.values():
    print(x)

Audi
BMW
Marcidies Benz

In [35]:
# We can also check through the key and values.

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Marcidies Benz')

In [37]:
# Adding items in dictionaries.

my_dict['car4']='Audi2.0'
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Marcidies Benz', 'car4': 'Audi2.0'}

In [40]:
my_dict['Car1']="Maruti"

In [41]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Marcidies Benz', 'car4': 'Audi2.0'}

## Nested Dictionary

In [18]:
car1_model={'Marcedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [19]:
print(car_type)

{'car1': {'Marcedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [20]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Marcedes': 1960}

In [21]:
print(car_type['car1']['Marcedes'])

1960

## Tuples

In [23]:
## create  an empty tuple
my_tuple=tuple()

In [24]:
type(my_tuple)

tuple

In [29]:
my_tuple=("Krish","Ankur","John")

In [30]:
my_tuple[0]

'Krish'

In [31]:
# Inbuilt function 
my_tuple.count('Krish')

1

In [33]:
my_tuple.index('Ankur')

1